.box {
  border: 1px solid var(--ds-color-neutral-border-subtle);
  border-radius: 4px;
  padding: 12px;
  flex-basis: calc(50% - 8px);
  background-color: var(--ds-color-neutral-background-tinted);
}

.box:hover {
  cursor: pointer;
  border-color: var(--ds-color-neutral-border-default);
}

.activeBox {
  outline: 1px solid var(--ds-color-neutral-border-default);
  background-color: var(--ds-color-neutral-background-default);
}

.title {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 8px;
  line-height: 1.2em;
}

.colors {
  display: flex;
  gap: 4px;
  margin-top: 8px;
}

.group {
  display: flex;
  border-radius: 2px;
}

.color {
  height: 16px;
  width: 16px;
  background-color: white;
}

.d-aa .surfaceTinted {
  background-color: blue;
}

.n-aa .surfaceTinted {
  background-color: #e8e8e8;
}

.n-aa .surfaceHover {
  background-color: #dadada;
}

.n-aa .surfaceActive {
  background-color: #cccccc;
}

.n-aa .borderSubtle {
  background-color: #bbbbbb;
}

.n-aa .borderDefault {
  background-color: #777777;
}

.n-aa .borderStrong {
  background-color: #5e5e5e;
}

.n-aa .textSubtle {
  background-color: #5b5d60;
}

.n-aa .textDefault {
  background-color: #292c30;
}
