.colors {
  display: flex;
  gap: var(--ds-size-4);
  flex: 1;
  min-width: 0;
}

.active {
  outline: 3px dashed var(--ds-color-neutral-border-default);
  outline-offset: 7px;
  border-radius: 1px;
}
