body {
  font-family: "Inter", sans-serif;
  font-feature-settings: "cv05" 1;
  color: var(--ds-color-neutral-text-default);
  background-color: var(--ds-color-neutral-background-tinted);
  margin: 0;
  overflow-x: hidden;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 28px;
  overflow-x: hidden;
}

@media (max-width: 1800px) {
  /* big screens */
  .container {
    padding: 20px;
  }
}

@media (max-width: 1700px) {
  /* big screens */
  .container {
    padding: 16px;
  }
}

@media (max-width: 1600px) {
  /* big screens */
  .container {
    padding: 16px;
  }
}

button {
  font-family: "Inter", sans-serif;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input,
textarea,
select {
  font: inherit;
}
/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root,
[data-color-scheme="light"] {
  --ds-color-neutral-border-subtle: #c6c7ca;
}

:root,
[data-color-scheme="dark"] {
  --ds-color-neutral-border-subtle: #394049;
}

.panelContainer {
  --panel-padding: var(--ds-size-8);
  --panel-gap: var(--ds-size-4);
  display: flex;
  box-shadow: var(--ds-shadow-sm);
  border-radius: 8px;
  overflow: hidden;

  @media screen and (max-width: 768px) {
    --panel-padding: var(--ds-size-6);

    flex-direction: column;
  }
}

.panelLeft {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--ds-color-neutral-background-default);

  @media screen and (min-width: 768px) {
    width: 420px;
    border-right: 1px solid var(--ds-color-neutral-border-subtle);
  }

  & > * {
    padding: var(--panel-padding);
  }
}

.panelRight {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: min-content;
  width: 100%;
  gap: var(--panel-gap);
  padding: var(--panel-padding);
  background-color: var(--ds-color-neutral-background-default);
  border-radius: 0 8px 8px 0;
}

.panelTop {
  display: flex;
  flex-direction: column;
  gap: var(--panel-gap);
}

.panelBottom {
  border-top: 1px solid var(--ds-color-neutral-border-subtle);
  margin-top: auto;
}
