.box {
  border: 1px solid var(--ds-color-neutral-border-subtle);
  border-radius: 4px;
  padding: 12px;
  flex-basis: calc(50% - 8px);
}

.box:hover {
  cursor: pointer;
  border-color: var(--ds-color-neutral-border-default);
}

.activeBox {
  outline: 1px solid var(--ds-color-accent-border-default);
  border-color: var(--ds-color-accent-border-default);
  background-color: var(--ds-color-accent-background-tinted);
}

.title {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 8px;
  line-height: 1.2em;
}

.gradient {
  height: 16px;
  border-radius: 4px;
}
