.toolbar {
  background-color: var(--ds-color-neutral-surface-default);
  padding: 20px;
  border-radius: var(--ds-border-radius-lg);
  box-shadow: var(--ds-shadow-xs);
  margin-bottom: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar svg {
  font-size: 1.75rem;
}

.right {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-right: 0;
}

.tabs {
  display: flex;
  flex-direction: row;
  gap: 12px;

  & button {
    font-family: "Inter", sans-serif;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
    text-transform: capitalize;
    padding: var(--ds-size-3) var(--ds-size-5);
    padding-left: 14px;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    border: 1px solid var(--ds-color-neutral-border-subtle);
    transition: 0.1s all;

    &:not([data-active="true"]) {
      color: var(--ds-color-neutral-text-subtle);
      background-color: transparent;
    }

    &[data-active="true"],
    &:hover {
      border: 1px solid var(--ds-color-neutral-border-default);
      color: var(--ds-color-brand3-text-default);
      outline: 1px solid var(--ds-color-neutral-border-default);
    }
  }
}

.icon {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1600px) {
  .toolbar {
    margin-right: 64px;
  }
}
